<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
<script>
    const multer = require("multer");
const storage = multer.diskStorage({
    destination:function(request,file, callback){
        callback(null, './public/uploads/images');
    },
    filename:function(request,file,callback){
        callback(null, Date.now() + file.originalname)
    },
});

const upload = multer({
    storage:storage,
    limits:{
        fieldSize:1024*1024*3
    },
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
hr.style1{
		height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-12.png) repeat-x 0 0;
 border-top: 1px solid rgb(95, 93, 93);
 width: 100px;
}
}
body{
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  

  
}
.a{
    font-size: 14px;
}
.card{
    border-radius: 4px;
     
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
     
  padding: 14px 80px 18px 36px;
  
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.c{
  margin-top: 10px;

}









.button {
  background-color: #008cff;
  border: none;
  color: white;
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 12px;
font-family: Verdana, sans-serif;

}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/singlelist">
      <img
        src="/images/login.png"
        height="50"
        alt=""
        loading="lazy"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Jobs</a>
        <a class="nav-link" href="#">Recuriters</a>
        <a class="nav-link" href="#">Services</a>
        <a class="nav-link" href="#">About</a
        >
      <!-- Left links -->
    
      <div style="margin-left:220px;"></div>
        <a class="btn btn-secondary" href="/addOrEdit"><i class="fa fa-plus"></i> Create New JOB</a> 
 
 
        <a
          class="btn px-3"
          href=""
          role="button"
          > <i class="fas fa-bell"></i>
         </a>
    </div>

    </div>
      <div style="margin-left:40px;"></div>
<div class="dropdown">
  <button class="dropbtn">Login</button>
  <div class="dropdown-content">
    <a href="/login">Candidate Login</a>
    <a href="/employerlogin">Employer Login</a>
  
  </div>
</div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="dropdown">
  <button class="dropbtn">Sign Up</button>
  <div class="dropdown-content">
    <a href="/register">Candidate SignUp</a>
    <a href="/employerdetails">Employer SignUp</a>
   
  </div>
</div>

<div style="margin-left:50px;"></div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

<!-- Section: Condition -->

<!-- Navbar -->
<br>
<div class="container">
  <div class="row">
   <div class="col-sm-3"></div>
  <div class="col-sm-5">
<form action="#" method="GET" class="form-inline">
<div class="form-group" class="form-inline">
<input type="text" style="width: 530px;" class="form-control mr-sm-2" name ="search" type="text" placeholder="search Resumes" aria-label="Search">

<input type="submit" class="btn btn-outline-primary my-2 my-sm-0" value="search" class="btn btn-primary" >    
</div>
</form>
</div></div></div>
<br>
<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-5">
<h3>{{noMatch}}</h3>

        {{#each resume}}
  

        <div class="card">
  <div class="card-body">
 <a style="text-decoration:none" href="#">
    <h4 class="card-title" style="line-height: 0.6">{{this.name}}</h4>
 <br>
      
    <div class="a">
     <br/>
    <a href="#" style="color:black" class="card-link"><i style = "color:rgb(93, 92, 92);" class="fas fa-briefcase fa" aria-hidden="true">&nbsp;</i></i>{{this.age}}</a>
    <a href="#" style="color:black" class="card-link"><i style = "color:rgb(88, 86, 86);" class="fas fa-user-shield" aria-hidden="true">&nbsp;</i>{{this.projects}}</a>
    <a href="#" style="color:black" class="card-link"><i style = "color:rgb(92, 89, 89);" class="fas fa-mobile fa" aria-hidden="true">&nbsp;</i>{{this.phone}}</a>  <a href="#" style="color:black" style="color:black" class="card-link"><i style = "color:rgb(71, 69, 69);" class="fas fa-map-marker-alt fa" aria-hidden="true">&nbsp;</i>{{this.personal}}</a> <br>
      <a href="#" style="color:black" class="card-link"><i style = "color:rgb(93, 92, 92);" class="far fa-envelope" aria-hidden="true">&nbsp;</i></i>{{this.email}}</a>
    <a href="#" style="color:black" style="color:black" class="card-link">Current&nbsp;<i style = "color:rgb(71, 69, 69);" class="fas fa-rupee-sign" aria-hidden="true">&nbsp;</i>{{this.salary}}</a> 
    <a href="#" style="color:black" style="color:black" class="card-link">Expected&nbsp;<i style = "color:rgb(71, 69, 69);" class="fas fa-rupee-sign" aria-hidden="true">&nbsp;</i>{{this.esalary}}</a> <br/>
  <a href="#" style="color:black" class="card-link"><i style = "color:rgb(93, 92, 92);" class="far fa-address-card" aria-hidden="true">&nbsp;</i></i>{{this.headline}}</a> <a href="#" style="color:black" class="card-link"><i style = "color:rgb(93, 92, 92);" class="fas fa-bolt fa-1x amber-text pr-1" aria-hidden="true" aria-hidden="true">&nbsp;</i></i>{{this.skills}}</a>


    <br>

    <br>
      <form  method="" action="/uploads/images/{{this.img}}">

        

          <input type="submit" class="button" value="Dowload Resume"></button>
      </form>
</a>









    
                   


    
   
     

  </div>


  
  
  </div>
</div class="card-body">
<div class="card-body"></div>
<div>


</div>
        
        {{/each}}
       </div>
   </div>  <div class="col-lg-4"></div> </div>