<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/singlelist">
      <img
        src="/images/login.png"
        height="50"
        alt=""
        loading="lazy"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Jobs</a>
        <a class="nav-link" href="#">Recuriters</a>
        <a class="nav-link" href="#">Services</a>
        <a class="nav-link" href="#">About</a
        >
      <!-- Left links -->
    
      <div style="margin-left:220px;"></div>
        <a class="btn btn-secondary" href="/addOrEdit"><i class="fa fa-plus"></i> Create New JOB</a> 
 
 
        <a
          class="btn px-3"
          href=""
          role="button"
          > <i class="fas fa-bell"></i>
         </a>
    </div>

    </div>
      <div style="margin-left:40px;"></div>
<div class="dropdown">
  <button class="dropbtn">Login</button>
  <div class="dropdown-content">
    <a href="/login">Candidate Login</a>
    <a href="/employerlogin">Employer Login</a>
  
  </div>
</div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="dropdown">
  <button class="dropbtn">Sign Up</button>
  <div class="dropdown-content">
    <a href="/register">Candidate SignUp</a>
    <a href="/employerdetails">Employer SignUp</a>
   
  </div>
</div>

<div style="margin-left:50px;"></div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>




<style>
    label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

</style>

<br/>
<div class="container">
    <div class="row">
 <div class="col-sm-2"></div>
 <div class="col-sm-6">

<h3>{{viewTitle}}</h3>

<form action="/employee" method="POST"  autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Job Title</label>
        <input type="text" class="form-control" name="fullName" placeholder="Job title" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}</div>
    </div>
 <div class="form-row">
        <div class="form-group col-md-6">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{employee.email}}">
        <div class="text-danger">
            {{employee.emailError}}</div>
            </div>
                 <div class="form-group col-md-6">
        <label>Experiance</label>
        <input type="text" class="form-control" name="experinace" placeholder="Experinace" value="{{employee.experinace}}">
        <div class="text-danger">
            {{employee.emailError}}</div>



    </div> 
     </div> 
    <div class="form-row">
        <div class="form-group col-md-6">
              <label>Job Location</label>
       <select id='{{employee.location}}' name ="location" required style='height: 42px; position: relative; color:white; font-family:Arial, FontAwesome; width:200px; background-color: DodgerBlue; font-size: 14px '>
          <option value='{{employee.location}}'  style='color:white;'>&#xf039; &nbsp; {{employee.location}}</option>
          <option value='gurgaon' name ="gurgaon" style='color:white;'>&#xf00c; &nbsp; Gurgaon</option>
          <option value='delhi' name ="delhi" style='color:white;'>&#xf04c; &nbsp; Delhi</option>
          <option value='banglore' name ="banglore" style='color:white;'>&#xf023; &nbsp; Banglore</option>
           <option value='pune' name ="pune" style='color:white;'>&#xf023; &nbsp; Pune</option>
        </select>
    
    </div> 
  
     
        <div class="form-group col-md-6">
              <label>Salary Offered</label>
       <select id="{{employee.salary}}"  name ="salary" required style='height: 42px; position: relative; color:white; font-family:Arial, FontAwesome; width:200px; background-color: DodgerBlue; font-size: 14px'>
          <option value='{{employee.salary}}'  style='color:white;'>&#xf039; &nbsp;{{employee.salary}} </option>
          <option value='2lakh-4lakh' name ="2lakh-4lakh" style='color:white;'>&#xf00c; &nbsp; 2lakh-4lakh </option>
          <option value='3lakh-5lakh'  name ="3lakh-5lakh" {{employee.salary}}        style='color:white;'>&#xf04c; &nbsp; 3lakh-6lakh </option>
          <option value='6lakh-10lakh' name ="6lakh-10lakh" value="{{employee.salary}}" style='color:white;'>&#xf023; &nbsp; 6lakh-10lakh </option>
  </select>
    
    </div> 
     </div> 

    
   
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{employee.mobile}}">
        </div>
        <div class="form-group col-md-6">
            <label>Company</label>
            <input type="text" class="form-control" name="company" placeholder="Company Name" value="{{employee.company}}">
        </div>
    </div>
    
    <b>Short JD</b> <br>
  

 {{employee.comment}}
  

 <br> <br>

      <b>Deatiled JD</b> <br>
  
<style>
    p{
        white-space: break-spaces;
        align-content: space-around;
        justify-content: center;
    }
</style>
<p>{{employee.longcomment}}</p>
  
    
</form></div></div></div>